# Image Pull Secret Template
# IMPORTANT: You must create this secret manually with your registry credentials
# 
# Run this command:
# kubectl create secret docker-registry registry-secret \
#   --docker-server=ghcr.io \
#   --docker-username=<your-username> \
#   --docker-password=<your-token> \
#   --namespace=sail-proxy
#
# This file is just a reminder - do not apply it directly!
---
apiVersion: v1
kind: Secret
metadata:
  name: registry-secret
  namespace: sail-proxy
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: <base64-encoded-docker-config>
